.wrapper {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    min-width: 100px;
    padding: 9px 16px;
    font-size: 1.6rem;
    font-weight: 700;
    cursor: pointer;
    background-color: #fff;
    border: transparent 1px solid;
    user-select: none;

    + .wrapper {
        margin-left: 8px;
    }

    //Disabled
    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }
}

.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}

//Button types

.rounded {
    color: rgba(22, 24, 35, 0.75);
    border-radius: 999px;
    border-color: rgba(22, 24, 35, 0.12);
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 8px;

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.primary {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), rgb(254, 44, 85);
        border-color: var(--primary);
    }
}

.outline {
    color: var(--primary);
    border-color: currentColor;

    &:hover {
        background-color: rgba(254, 44, 85, 0.06);
        border-color: var(--primary);
    }
}

.text {
    &:hover {
        // background: rgba(22, 24, 35, 0.03);
        text-decoration: underline;
    }
}

//Disabled
.disabled {
    cursor: default;
    opacity: 0.5;
}

//Button sizes
.small {
    min-width: 88px;
    padding: 4px 16px;
}

.large {
    min-width: 136px;
    padding: 14px 16px;
}
