@import 'normalize.css';

:root {
    --primary: #fe2c55;
    --text-color: #161823;

    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'TikTokFon', san-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    text-decoration: none;
    color: var(--text-color);
}

// Font emmbeded
@font-face {
    font-family: TikTokFon;
    src: url('/assets/font/TikTokFont-Regular.woff2');
    font-weight: 400;
}

@font-face {
    font-family: TikTokFon;
    src: url('/assets/font/TikTokFont-Semibold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: TikTokFon;
    src: url('/assets/font/TikTokFont-Bold.woff2');
    font-weight: 700;
}
@font-face {
    font-family: TikTokDisplayFont;
    src: url('/assets/font/TikTokDisplayFont-Bold.woff2');
    font-weight: 700;
}

// Custom tippy tooltip
body {
    .tippy-box {
        background-color: rgba(84, 84, 84, 0.92);
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .tippy-arrow {
        color: rgba(84, 84, 84, 0.92);
    }

    .tippy-box[data-placement^='bottom'] > .tippy-arrow {
        top: -1px;
    }

    .tippy-content {
        padding: 8px 9px;
    }
}
