.wrapper {
    --search-border-radius: 92px;

    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

.custom-login {
    color: red;
}

.logo-link {
    display: flex;
}

//Actions
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 1.8rem;
    margin-left: 24px;
    background: transparent;
    padding: 8px;
    cursor: pointer;
}

.action-btn {
    color: #161823;
    background-color: transparent;
    font-size: 2.2rem;
    padding: 4px 12px;
    cursor: pointer;
    display: flex;
}

.user-avatar {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
