.search,
.search-result {
    width: 361px;
}

.search-title {
    color: rgba(22, 24, 35, 0.5);
    font-size: 1.4rem;
    font-weight: 600;
    padding: 5px 12px;
}

.search {
    position: relative;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    border: 1.5px solid transparent;

    input {
        height: 100%;
        color: var(--text-color);
        font-size: 1.6rem;
        background-color: transparent;
        flex: 1;
        caret-color: var(--primary);
        font-family: 'TikTokFon', san-serif;
        padding-right: 40px;
    }

    &::after {
        content: '';
        position: absolute;
        top: 9px;
        right: 52px;
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }

    &:hover .search-btn {
        background-color: rgba(22, 24, 35, 0.06); /* Thay đổi màu nền của search-btn khi hover vào search */
        color: rgba(22, 24, 35, 0.75);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        /* Khi nhập input vào search btn đổi màu*/
        color: rgba(22, 24, 35, 0.75);
    }
}

.clear,
.loading {
    position: absolute;
    right: 65px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 15px;
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: 52px;
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 2rem;
    color: rgba(22, 24, 35, 0.34);

    // &:hover {
    //     background-color: rgba(22, 24, 35, 0.05);
    //     cursor: pointer;
    // }
}
